##########
# Compose
#########

# Project prefix for container resources.
export COMPOSE_PROJECT_NAME=iot-demo

# Ignore orphans.
export COMPOSE_IGNORE_ORPHANS=True

###############
# Elastic Stack
###############

export ELASTIC_VERSION=9.2.0
